<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="css/about.css"> 
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About Us</title>
</head>
<body>
    <header>
        <h2> TARANNUM </h2> 
        <%- include('layouts/nav') -%>


</header>

<div class="section">
    <div class="container">
        <div class="content-section">
            <div class="title">
                <h1>About Me</h1>
            </div>
            <div class="content">
                <h3>Lorem ipsum dolor sit amet, consectetur adipisicing</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
                <div class="button">
                    <a href="">Read More</a>
                </div>
            </div>
            <div class="social">
                
                <a href=""><i style="font-size:24px" class="fa">&#xf099;</i></a>
                <a href=""><i style="font-size:24px" class="fa">&#xf16d;</i></a>
            </div>
        </div>
        <div class="image-section">
            <img src="images\cat-7438092_1920.jpg">
        </div>
    </div>
</div>
</body>
</html>