<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="css\index.css"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Website1</title>
    
</head>
<body>
    <header>
        <h2> TARANNUM </h2>   
        <%- include('layouts/nav') -%>

    
    
    

</header>
<div class="main_body">
  <div class="gallery">
    <ul>
        <li>
            <img src="images\blue-flowers-7431881_1920.jpg">
        </li>
        <li>
            <img src="images\cardinal-7373562_1920.jpg">
        </li>
        <li>
            <img src="images\cat-7438092_1920.jpg">
        </li>
        <li>
            <img src="images\flamingo-7294544_1920.jpg">
        </li>
        <li>
            <img src="images\insect-7278221_1920.jpg">
        </li>
        <li>
            <img src="images\insect-7389497_1920.jpg">
        </li>
        <li>
            <img src="images\lotus-7382649_1920.jpg">
        </li>
        <li>
            <img src="images\blue-flowers-7431881_1920.jpg">
        </li>
        
    </ul>
       

     </div>
  </div>
</div>
<br>
<br>
<footer>
    <h2> TARANNUM</h2>

    <div class="footer-class">
        <ul>
        <li> <i style="font-size:24px" class="fa">&#xf16d;</i>
        <li> <i style="font-size:24px" class="fa">&#xf099;</i>
        </ul>
    </div>

</footer>
   
</body>
</html>